In [2]:
import pandas as pd

In [35]:
urbanization = pd.read_csv('urbanization_rot.csv')
trending = pd.read_csv('trending_by_time.csv',sep=';')

**Short task description:**  
We have two data sets and want to see which youtube videos were the most popular and we want to use the second set of data to look at the world population development.  

We want to refer to the terms of the population of the countries to see wit which youtube category the influence/range is the biggest.For this we need to know in which countries which video category were most popular.

In the second set of data we want to take a look at how the world population has developed. Here we will create a dashboard with tablau.

In [36]:
trending.info()
display(trending)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12343 entries, 0 to 12342
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   record_id       12343 non-null  int64
 1   region          12343 non-null  object
 2   trending_date   12343 non-null  object
 3   category_title  12343 non-null  object
 4   videos_count    12343 non-null  int64
dtypes: int64(2), object(3)
memory usage: 482.3+ KB

,record_id,region,trending_date,category_title,videos_count
0,1,France,2017-11-14 00:00:00.000000,Autos & Vehicles,8
1,2,France,2017-11-15 00:00:00.000000,Autos & Vehicles,2
2,3,France,2017-11-16 00:00:00.000000,Autos & Vehicles,6
3,4,France,2017-11-17 00:00:00.000000,Autos & Vehicles,8
4,5,France,2017-11-18 00:00:00.000000,Autos & Vehicles,4
...,...,...,...,...,...
12338,12339,United States,2018-06-10 00:00:00.000000,Travel & Events,2
12339,12340,United States,2018-06-11 00:00:00.000000,Travel & Events,2
12340,12341,United States,2018-06-12 00:00:00.000000,Travel & Events,2
12341,12342,United States,2018-06-13 00:00:00.000000,Travel & Events,2
12342,12343,United States,2018-06-14 00:00:00.000000,Travel & Events,2

In [41]:
print('From when do our dates begin:',trending.trending_date.min())
print('When do our dates end:',trending.trending_date.max())

From when do our dates begin: 2017-11-14 00:00:00.000000
When do our dates end: 2018-06-14 00:00:00.000000

In [42]:
print('Which countries are we looking at:',trending['region'].unique())
number_of_country=trending['region'].nunique()
print()
print('Number of country we are looking at:',number_of_country)

Which countries are we looking at: ['France' 'India' 'Japan' 'Russia' 'United States']

Number of country we are looking at: 5

In [31]:
urbanization.info()
display(urbanization)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27984 entries, 0 to 27983
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          27984 non-null  object
 1   Year             27984 non-null  object
 2   Population Type  27984 non-null  object
 3   Population       27984 non-null  int64
dtypes: int64(1), object(3)
memory usage: 874.6+ KB

           Country        Year Population Type  Population
0      Afghanistan  1950-01-01           Urban      465127
1      Afghanistan  1951-01-01           Urban      486716
2      Afghanistan  1952-01-01           Urban      509649
3      Afghanistan  1953-01-01           Urban      534076
4      Afghanistan  1954-01-01           Urban      560158
...            ...         ...             ...         ...
27979     Viet Nam  2011-01-01           Rural    61250158
27980     Viet Nam  2012-01-01           Rural    61288018
27981     Viet Nam  2013-01-01           Rural    61322435
27982     Viet Nam  2014-01-01           Rural    61342809
27983     Viet Nam  2015-01-01           Rural    61343888

[27984 rows x 4 columns]

In [43]:
print('From when do our dates begin:',urbanization.Year.min())
print('When do our dates end:',urbanization.Year.max())

From when do our dates begin: 1950-01-01
When do our dates end: 2015-01-01

In [45]:
print('Which countries are we looking at:',urbanization['Country'].unique())
number_of_country_=urbanization['Country'].nunique()
print()
print('Number of country we are looking at:',number_of_country_)

Which countries are we looking at: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Anguilla' 'Antigua And Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bosnia And Herzegovina' 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia' 'Comoros'
 'Cook Islands' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia'
 'Faroe Islands' 'Fiji' 'Finland' 'France' 'French Guiana'
 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana'
 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe' 'Guam'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iraq' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kuwait'
 'Kyrgyzstan' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libyan Arab Jamahiriya' 'Liechtenstein' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Martinique' 'Mauritania' 'Mauritius' 'Mayotte'
 'Mexico' 'Monaco' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue'
 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Romania' 'Rwanda' 'Saint Helena' 'Saint Lucia'
 'Samoa' 'San Marino' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Tajikistan' 'Thailand' 'Togo' 'Tokelau' 'Tonga' 'Tunisia'
 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'Uruguay' 'Uzbekistan' 'Vanuatu'
 'Western Sahara' 'Yemen' 'Zambia' 'Zimbabwe' 'United States' 'Bolivia'
 'Brunei Darussalam' 'Czech Republic' 'Falkland Islands (malvinas)'
 'Hong Kong' 'Iran, Islamic Republic Of'
 "Lao People's Democratic Republic" 'Macau' 'Macedonia'
 'Moldova, Republic Of' 'Palestine' 'Micronesia, Federated States Of'
 "Korea, Democratic People's Republic Of" 'Russian Federation'
 'Korea, Republic Of' 'Syrian Arab Republic' 'Taiwan'
 'Tanzania, United Republic Of' 'East Timor'
 'Holy See (Vatican City State)' 'Venezuela' 'Viet Nam']

Number of country we are looking at: 212

According to the ISO standard “Country Codes” there are 249 countries in the world (194 of them are independent).
With 212 we seem to be somewhere in between and are looking at the whole world.  

To answer our questions in this project, we will use this data to build dashboards with tableau and create a small presentation.

**Links**  
Youtube video trends:    
https://public.tableau.com/app/profile/marcel2130/viz/AutomationProject_16278461105020/Dashboard1?publish=yes    
https://public.tableau.com/app/profile/marcel2130/viz/AutomationProject_16278461105020/Dashboard2?publish=yes    
World population growth:  
https://public.tableau.com/app/profile/marcel2130/viz/Worldpopulationevolution/Dashboard2?publish=yes

Small presentation youtube video trends:  
https://drive.google.com/file/d/1E5N617w_E6HwduKjxad8HWhLrlCNYdus/view?usp=sharing